
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

.container-detalles {
    background-color: #03033b;
    color: white;
      font-family: 'Oswald', sans-serif;
   h2 {
  
    font-size: 30px;
    padding-bottom: 40px;
    
    } 
    
 
}
.card-container {
    padding-top: 20px;
    height: 700px;
    width: 300px;
    margin: auto;
}

.name-container {
        font-size: 20px;
    }
.stats-container {
    margin: auto;
    display: flex;
    justify-content: space-around;
    padding-bottom: 60px;
    max-width: 500px;
}
