.footer {
    display: block;
    height: 45px;
    background-color: rgb(16, 16, 82);
    color: white;
    padding: 10px 5px;
}

.footerNames {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 60px;

}