.container-contactanos {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    background: linear-gradient(to right, #2c539e 10%, #fff547 17%, #2c539e 25%, #fff547 49%, #2c539e 80%, #fff547 86%, #2c539e 94%);
}

.container-contactanos h2 {
    color: rgb(8, 8, 8);
    background: rgba(246, 245, 239, 0.404);
    border-radius: 5px;
}

.form-contacto {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 5px;
}

.form-contacto label {
    border: 1px solid #2c539e;
    border-radius: 5px;
    background: rgb(246, 245, 239);
}

.form-contacto input {
    border-radius: 5px;
}

.form-politica {
    display: grid;
    grid-template-columns: 0.2fr 1fr;
    padding: 15px;
}

.comentarios-label {
    padding: 10px;
}

.comentarios {
    width: 70%;
    height: 15vh;
}

.button-conectanos {
    padding: 5px;
    border-radius: 5px;
    box-shadow: blue 3px 4px;
}